// font
$main-font: "Nunito", sans-serif;

// border
$border: 1px solid #e5e5e5;
$border-dashed: 5px dashed #f3f3f3;

// size
$header-height: 120px;
$thumbnail-size: 130px;

//color
$main-color: #f1c358;
$label-color-1: #f77272;
$label-color-2: #e5c479;
$label-color-3: #9cc89d;
$label-color-4: #93bece;
$label-color-5: #c2c2c2;
