@import "./reset.css";
@import "./variables";
@import "./mixin";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800;900&display=swap");

/* common */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: $main-font;
	font-weight: 400;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;

	@include responsive(laptop) {
		padding: 0 15px;
	}
}

.btn {
	display: block;
	width: 100%;
	padding: 15px 0;
	color: #6e6e6e;
	background-color: #e7e8ea;
	font-size: 16px;
	font-family: $main-font;
	font-weight: 700;
	text-align: center;
	transition: all 0.1s ease-in-out;
	border: $border;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: $main-color;
		color: #fff;
	}

	svg {
		font-size: 1.3em;
		margin-right: 4px;
	}

	@include responsive(mobile) {
		padding: 10px 0;
	}
}

.thumbnail {
	display: block;
	object-fit: cover;
	border: $border;
	width: 100%;
	height: 100%;
}

/* header */
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: fixed;
	width: 100%;
	height: $header-height;
	background: #3a3636;
	z-index: 10;

	@include responsive(mobile) {
		height: 90px;
	}
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -1px;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	@include responsive(tablet) {
		font-size: 25px;
	}
}

.header__menu {
	display: flex;
}

.header__menu li {
	font-size: 26px;
	cursor: pointer;
}

.header__btns {
	display: flex;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $main-font;
		font-weight: 700;
		background: $main-color;
		width: 130px;
		height: 40px;
		font-size: 18px;
		padding: 7px 0;
		color: #1f1a37;

		&:first-child {
			margin-right: 10px;
		}

		svg {
			margin-right: 3px;
			font-size: 22px;
		}

		@include responsive(mobile) {
			width: 110px;
			font-size: 16px;
		}
	}
}

/* main banner */
.main-banner {
	margin-top: $header-height;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("https://image.freepik.com/free-photo/zero-waste-concept-string-bag-plastic-bag-female-hand-with-earth-globe-plastic-bags-free_90380-749.jpg")
		center / cover no-repeat;
	/* FIXME: https://github.com/zaydek/retro/issues/16 */
	/* background: url("/www/images/background.jpg") center / cover no-repeat; */

	.main-banner__text {
		text-align: center;
		line-height: 1.5;
		font-size: 22px;
		font-weight: 600;
		color: #333;
		margin-bottom: 35px;

		span {
			display: block;
			margin-top: 20px;
		}
	}

	@include responsive(mobile) {
		height: 250px;
		margin-top: 90px;

		.main-banner__text {
			line-height: 1.3;
			font-size: 16px;
			margin-bottom: 20px;
			background: rgba(255, 255, 255, 0.6);
			padding: 17px;
			text-align: left;
			border: $border;

			span {
				margin-top: 10px;
			}
		}
	}
}

.main-banner__btn {
	z-index: 1;
	background-color: transparent;
	position: relative;
	display: inline-block;
	font-size: 16px;
	padding: 10px 20px;
	color: #333;
	text-decoration: none;
	border: solid 5px $main-color;
	box-shadow: 10px 10px 0 -5px $main-color;
	transition: 0.3s;
	overflow: hidden;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: $main-font;

	&::before {
		display: inline-block;
		transition: bottom, 0.35s;
		position: absolute;
		transform: skew(-50deg);
		top: 0px;
		left: 260px;
		background-color: $main-color;
		content: "　";
		width: 200px;
		height: 120px;
		z-index: -1;
	}

	&:hover {
		color: #fff;
		box-shadow: 0px 0px 0 0px $main-color;
	}

	&:hover:before {
		top: -40px;
		left: -40px;
	}

	svg {
		margin-right: 3px;
	}

	@include responsive(mobile) {
		font-size: 14px;
		padding: 8px 12px;
		box-shadow: 8px 8px 0 -5px #f1c358;
	}
}

/* inventory */
.inventory {
	flex: 1;

	.container {
		margin-top: 20px;
		margin-bottom: 30px;

		@include responsive(tablet) {
			margin-top: 0;
		}
	}
}

.inventory-empty {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #ddd;
	border: $border-dashed;
	padding: 60px 0;
}

.inventory__filter {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 0;
	margin-bottom: 20px;
	padding-left: 60px;
	background: #f6f6f6;
	position: relative;

	&::before {
		content: "filter :";
		position: absolute;
		left: 30px;
		top: 50%;
		transform: translateY(-50%);
	}

	.filter-box {
		flex-basis: 20%;
		text-align: center;
	}

	.filter-name {
		padding: 10px;
		cursor: pointer;
	}

	@include responsive(tablet) {
		margin-left: -15px;
		margin-right: -15px;
	}

	@include responsive(mobile) {
		padding: 8px 0;
		padding-left: 0;

		&::before {
			display: none;
		}

		.filter-name {
			font-size: 15px;
		}
	}
}

.item-list {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;

	width: calc(100% + 24px);
	margin: 0 -12px;
}

.item-wrapper {
	padding: 12px;
	box-sizing: border-box;

	.item {
		padding: 12px;
		border: $border-dashed;
	}

	.image-box {
		height: 280px;
	}

	// mobile viewport 575px
	@include responsive(mobile) {
		.item > div {
			display: flex;
			margin-bottom: 10px;
		}

		.image-box {
			width: $thumbnail-size;
			height: $thumbnail-size;
			margin-right: 5px;
		}

		.item__detail {
			flex: 1;
			padding: 5px;

			display: flex;
			flex-direction: column;
		}
	}
}

.item__detail {
	padding: 20px 5px;

	li {
		margin-bottom: 8px;
	}

	.category span {
		font-size: 14px;
		padding: 1px 6px;
		color: #fff;
		border-radius: 5px;
	}

	.name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 22px;
		padding-top: 1px;
	}

	.price {
		text-align: right;
		font-size: 26px;
		font-weight: 600;
		color: $main-color;
		margin: 0;
	}

	.description {
		height: 60px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		line-height: 1.3;
		-webkit-box-orient: vertical;
		word-break: break-all;
	}

	@include responsive(mobile) {
		.price {
			margin-top: auto;
		}

		.description {
			display: none;
		}
	}
}

/* desktops */
@include responsive(desktop) {
	.grid-lg {
		max-width: 33.333333%;
		flex-basis: 33.333333%;
	}
}

/* laptop & tablet size devices */
@include responsive(laptop) {
	.grid-md {
		max-width: 50%;
		flex-basis: 50%;
	}
}

/* mobile phone devices */
@include responsive(mobile) {
	.grid-sm {
		max-width: 100%;
		flex-basis: 100%;
	}
}

/* footer */
.footer {
	background: #e6e6e6;
	text-align: center;
	padding: 50px 0;

	p {
		opacity: 0.2;
	}

	@include responsive(mobile) {
		padding: 30px 0;

		p {
			font-size: 13px;
		}
	}
}

/* cart */
.cart__drawer {
	width: 450px;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	padding: 15px;
	box-sizing: border-box;
	background: #fff;
	transform: translateX(450px);
	transition: transform 0.3s ease;
	z-index: -1;

	display: flex;
	flex-direction: column;

	@include responsive(tablet) {
		width: 100%;
		opacity: 0;
	}
}

.cart__title {
	font-size: 25px;
	font-weight: 800;
	padding: 40px 0;
	text-align: center;
}

.cart__item-wrapper {
	flex: 1;
	overflow: auto;
	border: $border-dashed;
}

.cart__item-wrapper .empty {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;

	svg {
		font-size: 80px;
		margin-bottom: 7px;
		color: $main-color;
	}

	p {
		color: $main-color;
	}
}

.cart-open .cart__drawer {
	transform: translateX(0);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	z-index: 30;

	@include responsive(tablet) {
		opacity: 1;
	}
}

.cart__closebtn {
	position: absolute;
	top: 25px;
	right: 30px;
	font-size: 30px;
}

.cart-item {
	padding: 15px;
	border-bottom: $border-dashed;
}

.cart-info-wrapper {
	display: flex;
}

.cart-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	width: calc(100% - $thumbnail-size);
}

.cart-info > li {
	margin-bottom: 3px;
}

.cart-info-wrapper .image-box {
	width: $thumbnail-size;
	height: $thumbnail-size;
}

.cart-info .price {
	margin-top: auto;
	text-align: right;
	font-size: 26px;
	font-weight: 600;
	color: $main-color;
}

.cart-info .name {
	font-size: 18px;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.cart-info .category {
	font-size: 15px;
	font-weight: 200;
	color: #aaa;
}

.cart-info .price span {
	display: block;
	font-size: 0.5em;
	font-weight: 200;
	font-family: sans-serif;
	color: #aaa;
}

.amount-controller {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin-top: auto;
	background: #f7f7f7;
	border-radius: 5px;
}

.amount-controller button {
	width: 25px;
	height: 25px;
	font-size: 16px;
	border-radius: 4px;
	background: $main-color;
	color: #fff;
}

.amount-controller button.blocked {
	background-color: #ccc;
}

.cart-btn-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.cart-btn:first-child {
	margin-right: 10px;
}

/* new item modal */
.modal {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/* z-index: -1; */
}

.modal__content {
	width: 50%;
	min-height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 20px 25px 25px;
	box-sizing: border-box;
	background: #f7f7f7;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 0.1s;
	display: flex;
	flex-direction: column;
	z-index: -1;
	border: 8px solid $main-color;

	// laptop viewport 992px
	@include responsive(laptop) {
		width: 80%;
	}

	// tablet viewport 768px
	@include responsive(tablet) {
		width: 100%;
		height: 100%;
	}
}

.modal-open .modal__content {
	opacity: 1;
	z-index: 20;
}

.modal__closebtn {
	display: block;
	margin-left: auto;
	font-size: 25px;
}

.modal .overlay {
	background: rgba(0, 0, 0, 0.6);
}

.modal__title {
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: -5px;
	text-transform: uppercase;
}

.modal__content form {
	flex: 1;
	display: flex;
	flex-direction: column;

	.submit-btn {
		margin-top: auto;
	}
}

.form-item {
	display: flex;
	align-items: center;
	padding-right: 30px;
	padding-bottom: 10px;

	label {
		display: inline-block;
		width: 20%;
		text-align: center;
		font-weight: 700;
		color: #444;

		.optional {
			display: block;
			color: #aaa;
			font-weight: 400;
			font-size: 0.9em;
		}
	}

	.input-wrapper {
		width: 80%;

		.item-input {
			width: 100%;
			padding: 7px;
			font-size: 16px;
			background: transparent;
			border: 1px solid #ccc;
			font-family: $main-font;

			&:focus {
				border: none;
				outline: 2px solid $main-color;
			}
		}

		input {
			height: 35px;
		}

		input#image {
			display: none;
		}

		select#category option:first-child {
			color: #aaa;
		}

		textarea#description {
			height: 110px;
		}

		.error {
			margin-left: 3px;
			margin-top: 2px;
			color: red;
			font-size: 0.9em;
		}

		.preview-box {
			width: 70px;
			height: 70px;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border: $border;
			}

			button {
				width: 100%;
				height: 100%;
				color: #dadada;
				border: 5px dashed #dadada;
				font-size: 35px;
			}
		}
	}

	@include responsive(mobile) {
		padding-right: 0;

		label {
			display: none;
		}

		.input-wrapper {
			width: 100%;
		}
	}
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
}

.cart-open .overlay,
.modal-open .overlay {
	visibility: visible;
	opacity: 1;
	z-index: 10;
}

.label-color-1 {
	background: $label-color-1;
}
.label-color-2 {
	background: $label-color-2;
}
.label-color-3 {
	background: $label-color-3;
}
.label-color-4 {
	background: $label-color-4;
}
.label-color-5 {
	background: $label-color-5;
}
